body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapse {
  font-size: .9rem;
  overflow-x: scroll;
}
.search {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 33;
  max-height: 100vh;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.dropdown {
  width: 100%;
  background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 15px;
    overflow: hidden;
    width: 392px;
    padding: 8px 0;
    margin-top: 1px;
    outline: none;
}


.btn:focus, .btn-sm:focus {
  outline: 0 !important;
  box-shadow: none;
}
.fa-random, .fa-directions {
  cursor: pointer;
}

#map {
  z-index: -1;
}

.timetable {
  background-color: #fff;
}


a[href='#menuCard'] {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.card-points {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Override leaflet styles */

.leaflet-left {
  padding: 10px;
  left: auto;
  right: 0;
}
